/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    font-family: 'PT Sans', sans-serif;
}

/* COMMON */
.container {
    width: 80%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}

.btn {
    width: 150px;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: #0084fd;
    color: white;
    margin: 1rem 0;
    font-size: 20px;
}
h2 {
    font-size: 24px;
    padding: 1rem 0;
    color: #0084fd;
}
p {
    padding: 1rem 0;
    color: #5a6e7f;
}
.card {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}
/* HEADER */
header {
    background-color: #0084fd;
    height: 80px;
}
.header-btn {
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 10px;
}
.ul-desktop {
    display: none;
    width: 55vh;
    color: white;
}
header .flex {
    height: 100%;
}
header .container {
    height: 100%;
}
.burger {
    color: white;
    font-size: 24px;
}
header ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
/* MAIN */
.col {
    margin-top: 3rem;
    background-color: #b4ddff;
    border-radius: 15px;
}
.phone-img {
    position: relative;
    bottom: -5px;
}
.size {
    font-size: 70px;
    color: #0084fd;
}
.card p {
    font-weight: 700;
}

/* second section */
#second-section {
    background-color: #9792e3;
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.two-col img {
    margin: 2rem 0;
}
#second-section h2 {
    color: white;
    margin: 1rem 0;
}
#second-section p {
    color: white;
}
.white-bck {
    border-radius: 35px;
    background-color: white;
    color: black;
    margin-bottom: 1rem;
}
#second-section .white-bck p {
    color: black;
    text-align: center;
    padding-bottom: 4rem;
}
#second-section h3 {
    text-align: center;
}
.circle {
    background-color: #9792e3;
    padding: 15px;
    border-radius: 35px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 25px);
}
.relative {
    position: relative;
}
/* TESTIMONIAL SECTION */
#testimonials {
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
    margin-bottom: 2rem;
}
#testimonials h3 {
    font-size: smaller;
    font-weight: 400;
}

#testimonials h2 {
    color: #9792e3;
}
#testimonials p {
    color: black;
}
#testimonials img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.row-card {
    background-color: #9792e3;
    border-radius: 40px;
    padding: 1rem;
    margin: 1rem 0;
}
#testimonials .row-card p {
    color: white;
}

/* BENEFIT SECT */
#benefit {
    background-color: #9792e3;
    padding-bottom: 2rem;
}
#benefit h2 {
    color: white;
    text-align: center;
    padding: 2rem 0;
}
.benefit-col {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin: 10px 0;
}
#benefit .benefit-col h2 {
    color: #9792e3;
    text-align: left;
    font-size: 34px;
}
#benefit h3 {
    font-size: 45px;
    color: #9792e3;
}
#benefit .purple {
    background-color: #9792e3;
    padding: 5px 45px;
}
/* about us sect */
#about-us h2 {
    color: #9792e3;
    margin: 2rem 0;
    font-size: 35px;
}
#about-us h3 {
    color: #9792e3;
    margin: 1rem 0;
    font-size: 25px;
}
#about-us img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}
#about-us .btn {
    background-color: #9792e3;
    width: fit-content;
}
#about-us {
    margin-bottom: 3rem;
}
.height {
    line-height: 35px;
}

/* get started sect */
#get-started {
    background-color: #9792e3;
    color: white;
    text-align: center;
    padding: 2rem 0;
}
#get-started h3 {
    color: lightgray;
    font-weight: 200;
}
#get-started h2 {
    color: inherit;
}
#get-started .gold {
    font-size: 70px;
    color: goldenrod;
}
#get-started p {
    color: lightgray;
}
#get-started .btn {
    background-color: white;
    color: #9792e3;
    margin: 0 auto;
    margin-top: 2rem;
    width: 50%;
    padding: 15px 0;
    border-radius: 50px;
    font-weight: 700;
}
.underline {
    text-decoration: underline;
}

/* FOOTER */
footer {
    background-color: #333333;
    padding: 25px 0;
    text-align: center;
}
footer p {
    color: white;
    padding: 35px 0;
}
footer p:last-child {
    padding: 35px 15px;
}
footer .underline {
    color: #9792e3;
}

/* MEDIA */

/* tablet */
@media all and (min-width:768px) {
    /* common */
    .container {
        width: 90%;
    }
    /* first sect */
    .columns-intro {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        width: calc((100% / 3) - 20px);
        margin: 10px;
    }
    .columns-intro .col:first-child {
        width: calc(((100% / 3)* 2) - 20px );
    }
    /* testimonials */
    .responsive-flex {
        display: flex;
    }
    .left {
        text-align: left;
    }
    .paddingl {
        padding-left: 20px;
    }
    /* why us sect */
    .benefit-col {
        width: calc(100% / 2 - 10px);
    }
    .whyus-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* about us sect */
    .about-us-flex {
        display: flex;
        justify-content: space-between;
    }
    #about-us img {
        margin-top: 2rem;
    }
    .col-about {
        width: 45%;
    }
}
/* desktop */
@media all and (min-width: 992px) {
    /* header */
    .burger {
        display: none;
    }
    .ul-desktop {
        display: inline-block;
    }
    /* first section */
    .desktop-card {
        display: flex;
    }
    /* second section */
    .two-columns {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-end;
    }
    .two-col {
        width: 40%;
    }
    .scale-desk {
        transform: scale(0.7);
    }
}