/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
}

/* COMMON */
.container {
    width: 80%;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a {
    text-decoration: none;
    color: inherit;
}

.btn {
    width: 150px;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: #0084fd;
    color: white;
    margin: 1rem 0;
    font-size: 20px;
}
h2 {
    font-size: 24px;
    padding: 1rem 0;
    color: #0084fd;
}
p {
    padding: 1rem 0;
    color: #5a6e7f;
}
.card {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}
/* HEADER */
header {
    background-color: #0084fd;
    height: 80px;
}
.ul-desktop {
    display: none;
}
header .flex {
    height: 100%;
}
header .container {
    height: 100%;
}
.burger {
    color: white;
    font-size: 24px;
}
/* MAIN */
.col {
    margin-top: 3rem;
    background-color: #b4ddff;
    border-radius: 15px;
}
.col img {
    width: 90%;
}
.phone-img {
    position: relative;
    bottom: -5px;
}
.size {
    font-size: 70px;
    color: #0084fd;
}

/* second section */
#second-section {
    background-color: #9792e3;
    margin-top: 2rem;
    padding-bottom: 1rem;
}
.two-col img {
    margin: 2rem 0;
}
#second-section h2 {
    color: white;
    margin: 1rem 0;
}
#second-section p {
    color: white;
}
.white-bck {
    border-radius: 35px;
    background-color: white;
    color: black;
    margin-bottom: 1rem;
}
#second-section .white-bck p {
    color: black;
    text-align: center;
    padding-bottom: 4rem;
}
#second-section h3 {
    text-align: center;
}
.circle {
    background-color: #9792e3;
    padding: 15px;
    border-radius: 35px;
    position: absolute;
    bottom: 10px;
    left: calc(50% - 25px);
}
.relative {
    position: relative;
}
/* TESTIMONIAL SECTION */
#testimonials {
    text-align: center;
    margin-top: 2rem;
    font-size: 20px;
    margin-bottom: 2rem;
}
#testimonials h2 {
    color: #9792e3;
}
#testimonials p {
    color: black;
}
#testimonials img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.row-card {
    background-color: #9792e3;
    border-radius: 40px;
    padding: 1rem;
    margin: 1rem 0;
}
#testimonials .row-card p {
    color: white;
}

/* BENEFIT SECT */
#benefit {
    background-color: #9792e3;
    padding-bottom: 2rem;
}
#benefit h2 {
    color: white;
    text-align: center;
    padding: 2rem 0;
}
.benefit-col {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
    margin: 10px 0;
}
#benefit .benefit-col h2 {
    color: #9792e3;
    text-align: left;
    font-size: 34px;
}
#benefit h3 {
    font-size: 45px;
    color: #9792e3;
}
#benefit .purple {
    background-color: #9792e3;
    padding: 5px 45px;
}
/* MEDIA */

/* tablet */
@media all and (min-width:768px) {
    /* first sect */
    .columns-intro {
        display: flex;
        flex-wrap: wrap;
    }
    .col {
        width: calc((100% / 3) - 20px);
        margin: 10px;
    }
    .columns-intro .col:first-child {
        width: calc(((100% / 3)* 2) - 20px );
    }
    /* testimonials */
    .responsive-flex {
        display: flex;
    }
    .left {
        text-align: left;
    }
    /* why us sect */
    .benefit-col {
        width: calc(100% / 2 - 10px);
    }
    .whyus-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}